.footer {
	position: relative;
	background-color: var(--color-text);
	padding: 50px 0 43px;
}

.footer-support {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-support img {
	width: auto;
}

.footer-fond {
	display: contents;
}

.footer-support p {
	font-family: var(--font-family);
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
}

.footer-content__menu {
	margin-top: 71px;
	justify-content: space-between;
}

.footer-menu {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}

.footer-menu h4 {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 21px;
}

.footer-menu li {
	font-size: 14px;
	font-weight: 300;
	line-height: 17px;
	text-transform: lowercase;
	margin-bottom: 10px;
}

.footer-menu a:hover {
	color: var(--color-yellow);
}

.footer-menu li:last-child {
	margin-bottom: 0;
}

.footer-list {
	display: flex;
}

.footer-list__social:last-child {
	margin: 0 95px 0 12px;
}

.footer-link p {
	margin-bottom: 23px;
	font-size: 20px;

}

@media(max-width: 827px) {
	.footer {
		padding: 50px 0;
	}

	.footer-menu li {
		font-size: 18px;
	}
}

@media(max-width: 1180px) {
	.footer-support p {
		position: absolute;
		bottom: 254px;
	}

	.footer-link {
		margin-top: 110px;
	}

}

@media(max-width: 823px) {
	.footer-support p {
		bottom: 145px;
	}

	.footer-link {
		margin-top: 38px;
	}
}

@media(max-width: 714px) {

	.footer-content__menu {
		margin-top: 50px;
	}

}

@media(max-width: 500px) {
	.footer-logo {
		display: block;
		margin-top: 30px;
	}

	.footer-support {
		display: block;
	}

	.footer-menu li {
		font-size: 23px;
		line-height: 20px;
		margin-bottom: 15px;
	}
}